@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

h1 {
  font-family: "Montserrat" , sans-serif;
  font-size: 50px;
}

.gen input {
  height: 35px;
  width: 250px;
  font-size: 20px;
  padding-left: 5px;
}

button {
  position: relative;
  margin-left: 5px;
  height: 38px;
  width: 100px;
  top: -2px;
  font-size: 18px;
  border: none;
  color: #ffffff;
  background-color: #228822;
  box-shadow: 2px 2px 5px #2e6f40;
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

.output-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

.output-box img {
  padding: 20px;
  border: 3px solid #000000;
}